.employee-nav-link{
    color: #0E1F31;
}
.employee-nav-link:hover{
    color: #F09E32;
}

.employee-nav-link-active{
    color: #F09E32;
}

.main-color{
    color: #F09E32;
}
.main-bg{
    background-color: #F09E32;
}
.background-center{
    background: center center;
}
.background-no-repeat{
    background: no-repeat;
}
.background-cover{
    background-size: cover;
}
.main-content{
    margin-left: 0!important;
}
.profile-banner{
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

@media only screen and (max-width: 1278px) {
    .my-navbar-container{
        background: white!important;
    }
}
.img-question img{
    max-width: 250px!important;
}
